apiVersion: v1
kind: Service
metadata:
  name: billing-api-service
spec:
  selector:
    app: billing-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer # For AWS Load Balancer
